.container {
    margin: 0 150px;
    color: var(--text-light-color);
}

@media (max-width: 1100px) {
    .container {
        margin: 0 48px;
    }
}

@media (max-width: 700px) {
    .container {
        margin: 0;
    }
}
