.tracks {
    margin-bottom: 16px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

@media (max-width: 700px) {
    .albums {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
    }
}
