.container {
    display: flex;
    align-items: center;
    color: var(--text-light-color);
    border-bottom: 1px solid var(--bg-main-color);
    width: 100%;
    gap: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
    ;
}

.container:last-of-type {
    margin-bottom: 0;
}

.container:hover {
    background-color: var(--bg-main-color);
}

.playingContainer {
    composes: container;
    background-color: var(--bg-main-color);
}

.imageContainer {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    position: relative;
    cursor: pointer;
    align-content: center;
    margin-right: 24px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    filter: drop-shadow(0 0 3px var(--bg-darker-color));
}

.imageContainer:hover .playBtn,
.title {
    color: var(--text-light-color);
}

.hidden-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist,
.duration {
    color: var(--text-main-color);
}

.title,
.duration {
    cursor: default;
}

.title {
    composes: hidden-overflow;
    flex: 3 1 0;
}

.artist {
    composes: hidden-overflow;
    flex: 2 1 0;
}

.artist:hover {
    filter: brightness(200%);
}

.duration {
    flex: 1 1 0;
}