:root {
    --primary-color: #212121;
    --secondary-color: #aaa;
    --tertiary-color: #171717;
    --light-color: #fff;
    --dark-color: #000;
    --bg-main-color: var(--primary-color);
    --bg-light-color: var(--secondary-color);
    --bg-dark-color: var(--tertiary-color);
    --bg-darker-color: var(--dark-color);
    --text-main-color: var(--secondary-color);
    --text-light-color: var(--light-color);
    --text-dark-color: var(--dark-color);
    --progress-var-color: #ffaf0a;
}

body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: fixed;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root {
    position: relative;
    vertical-align: baseline;
}

header {
    display: flex;
}

a {
    text-decoration: none;
}

a.active {
    color: var(--text-light-color);
}

button {
    display: flex;
    padding: 0;
    border: none;
    justify-content: center;
    align-items: center;
}

