.content {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-darker-color);
}

.content::-webkit-scrollbar-track {
    margin-bottom: 166px;
}

.container {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 32px 160px 64px 160px;
    margin-bottom: 166px;
}
