.content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--text-main-color);
}

@media (max-width: 700px) {
    .content {
        flex-wrap: wrap;
        font-size: 0.85rem;
    }
}
