.container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: var(--bg-dark-color);
}

.container:hover {
    background-color: var(--bg-main-color);
}

.imageContainer {
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.name {
    max-width: 100%;
    color: var(--text-light-color);
    overflow-wrap: break-word;
}

.year {
    color: var(--text-main-color);
    justify-self: end;
    align-self: flex-end;
}