.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-main-color);
    box-sizing: border-box;
    margin-bottom: 16px;
}

a:last-of-type>.container {
    margin-bottom: 0;
}

.container:hover {
    background-color: var(--bg-main-color);
}

.content {
    display: flex;
    flex-direction: row;
}

.imageContainer {
    width: 60px;
    height: 60px;
    min-width: 60px;
    position: relative;
    cursor: pointer;
    align-content: center;
    margin-right: 24px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    color: var(--text-light-color);
}